---
import { Solver } from "../components/Solver";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Wordle Solver</title>
  </head>
  <body class="container mx-auto my-8 w-5/6">
    <h1 class="text-3xl font-bold mb-6">Wordle Solver</h1>
    <Solver client:load />
  </body>
</html>
