---
import { Solver } from "../components/Solver";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Wordle Solver</title>
  </head>
  <body class="container mx-auto my-8 w-5/6 dark:bg-slate-900">
    <h1 class="text-3xl font-bold mb-6 dark:text-white">Wordle Solver</h1>
    <a href="https://www.nytimes.com/interactive/2022/upshot/wordle-bot.html" target="_blank" class="block mb-4  text-lg dark:text-white underline">NYT Wordlebot &rarr;</a>
    <Solver client:load />
  </body>
</html>
